@keyframes backgroundMove {
  0% {
    left: -250%;
  }

  10%, 50% {
    left: -50%;
  }

  60%, 100% {
    left: 150%;
  }
}

.page-Index-index {
  position: relative;
  height: auto;
  background: #ea394a;

  .background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: -250%;
    .size(200%, 100%);
    z-index: 1;
    background-color: #1744ca;
    animation: backgroundMove 10s linear infinite 5s;
    transform: skewX(-45deg) translate3d(0, 0, 0);
    perspective: 1000px;
    backface-visibility: hidden;
  }

  .page-content {
    position: relative;
    z-index: 5;
  }

  .header,
  .footer {
    width: 1080px;
    margin: 0 auto;
    font-weight: 300;
  }

  .header {
    padding: 37px 0;
  }

  .footer {
    padding: 39px 0;

    .bottom-description {
      float: left;
    }

    .mail-and-donate {
      float: right;
    }
  }

  .rect {
    position: relative;
    .size(840px, 548px);
    margin: 0 auto;
    border: 10px solid #fff;

    .logo {
      position: absolute;
      top: 106px;
      left: 99px;
      .size(337px, 244px);
      background: url('@{images}/logo.png') 0 0 no-repeat;
    }

    .text-info {
      position: absolute;
      top: 408px;
      left: 98px;
      line-height: 1.1em;
    }

    .app {
      position: absolute;
      top: 90px;
      right: 98px;
      .size(54px, 375px);
      background: url('@{images}/main-app.png') 0 0 no-repeat;
    }
  }

  @media (max-width: 1150px) {
    .header,
    .footer {
      width: 860px;
    }
  }
}
