.page-Screen-show {
  background: #eee;

  .header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }

  .image {
    width: 100%;
    text-align: center;

    img {
      display: inline-block;
      margin: 20px;
      box-shadow: 0 0 20px #333;
    }
  }
}
