@images: '../images';

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clear {
    clear: both;
}

.size(@width: auto, @height: auto) {
    display: block;
    width: @width;
    height: @height;
}
