@import "reset.min.css";
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  height: 100%;
  line-height: 1.5em;
}
.page-Index-index {
  overflow: hidden;
}
.page-Index-index .background {
  position: absolute;
  top: -50%;
  left: -15%;
  display: block;
  width: 150%;
  height: 250%;
  transition: all 2s;
  transform: rotate(45deg);
  z-index: 1;
}
.page-Index-index .background.red {
  background-color: #ea394a;
}
.page-Index-index .background.blue {
  background-color: #1744ca;
}
.page-Index-index .background.hidden {
  top: -300%;
  left: -115%;
}
.page-Index-index .background.disable-transition {
  transition: none;
}
.page-Index-index .header,
.page-Index-index .footer {
  font-weight: 300;
}
.page-Index-index .header {
  padding: 37px 0;
}
.page-Index-index .footer {
  padding: 39px 0;
}
.page-Index-index .footer .bottom-description {
  float: left;
}
.page-Index-index .footer .mail-and-donate {
  float: right;
}
.page-Index-index .page-content {
  display: block;
  height: 770px;
  width: 1080px;
  margin: 0 auto;
  margin-top: -385px;
  position: relative;
  z-index: 5;
  top: 50%;
}
.page-Index-index .rect {
  border: 10px solid #fff;
  margin: 0 auto;
  display: block;
  width: 840px;
  height: 548px;
}
.page-Index-index .logo {
  background: url('../images/logo.png') 0 0 no-repeat;
  display: block;
  width: 337px;
  height: 244px;
  margin-bottom: 56px;
}
.page-Index-index .app {
  background: url('../images/main-app.png') 0 0 no-repeat;
  display: block;
  width: 54px;
  height: 375px;
  float: right;
  margin-top: 90px;
  margin-right: 98px;
}
.page-Index-index .logo-left {
  float: left;
  padding: 100px;
  padding-top: 106px;
}
.page-Error-index {
  color: #000 !important;
}
